:root {
    --light: #f0f4f8;
    --secondary: rgb(50, 51, 52);
    --dark: rgb(27, 8, 3);
    --primary-color: rgb(255, 190, 10);
    --secondary-color: rgba(15, 231, 247, 0.979);
    --border: rgb(179, 244, 255);
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  *>* {
    box-sizing: border-box;
  }
  
  
  .text-light {
    color: var(--light);
  }
  
  .text-dark {
    color: var(--dark);
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .bg-light {
    background-color: var(--light);
    caret-color: transparent;
  }
  
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
  }
  
  .navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  
  .nav-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    align-self: center;
    font-size: 38px;
  }
  
  .nav-brand {
    color: rgb(0, 0, 0);
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  
  .nav-brand:hover {
    color: var(--primary-color);
  }
  
  .home {
    border-left: 1px solid black;
    padding-left: 25px;
  }
  
  .navigation {
    border-right: 1px solid black;
    padding-right: 25px;
  }
  
  .collapse {
    align-self: center;
  }
  
  .nav-link {
    font-size: 20px;
    margin: 12px;
    color: var(--dark);
    font-family: "Poppins", sans-serif;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: var(--primary-color);
  }
  
  .search-box {
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
  }
  
  .toggle-button {
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  @media(max-width: 845px) {
    .toggle-button {
      display: initial;
    }
  
    .collapse {
      max-height: 0;
      overflow: hidden;
      transition: all 1s cubic-bezier(0.87, -0.01, 0.15, 0.87);
    }
  
    .collapse.nav-link {
      display: block;
      text-align: center;
    }
  
    .search-box {
      border-right: none;
    }
  
    .collapse-toggle {
      max-height: 500px;
    }
  }
  
  @media(max-width:992px) {
    .navbar {
      flex-direction: column;
    }
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/homebgwp.webp');
    /* Replace with your image URL */
    background-size: cover;
    animation: scroll 50s linear infinite;
    /* Adjust duration as needed */
    z-index: -1;
    filter: brightness(30%);
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center;
  }
  
  @keyframes scroll {
    0% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 0 100%;
      /* Change 100% to 200% for a more extended scroll */
    }
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  @media (max-width: 1350px) {
    .background {
        background-attachment: fixed; /* Keeps the background fixed */
        filter: brightness(30%); /* Optional: adjust brightness for mobile */
    }